<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="starter-template">
    {{#articles}}
    <h1>{{title}}</h1>
    <h3>{{author}}</h3>
    {{/articles}}
</div>
</body>
</html>